@model ProductViewModel

<form method="post" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />
    <input asp-for="Product.ImageUrl" hidden />
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4">
                <div class="row pb-2">
                    <h2 class="text-primary">@(Model.Product.Id!=0?"Update":"Create") product</h2>
                    <hr/>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Title" class="mb-1"></label>
                    <input asp-for="Product.Title" type="text" class="form-control">
                    <span asp-validation-for="Product.Title" class="text-danger mt-1"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Author" class="mb-1"></label>
                    <input asp-for="Product.Author" type="text" class="form-control">
                    <span asp-validation-for="Product.Author" class="text-danger mt-1"></span>
                </div>
            
                <div class="mb-3">
                    <label asp-for="Product.Description" class="mb-1"></label>
                    <textarea asp-for="Product.Description" type="text" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.ISBN" class="mb-1"></label>
                    <input asp-for="Product.ISBN" type="text" class="form-control">
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.ListPrice" class="mb-1"></label>
                    <input asp-for="Product.ListPrice" type="number" class="form-control">
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Price" class="mb-1"></label>
                    <input asp-for="Product.Price" type="number" class="form-control">
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Price50" class="mb-1"></label>
                    <input asp-for="Product.Price50" type="number" class="form-control">
                    <span asp-validation-for="Product.Price50" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Price100" class="mb-1"></label>
                    <input asp-for="Product.Price100" type="number" class="form-control">
                    <span asp-validation-for="Product.Price100" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.ImageUrl" class="mb-1"></label>
                    <input type="file" name="file" class="form-control">
                </div>
            
                <div class="mb-3">
                    <label asp-for="Product.CategoryId" class="ms-2"></label>
                    @* <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="mb-1 form-select"> *@
                    @* <select asp-for="Product.CategoryId" asp-items="@ViewData["CategoryList"] as IEnumerable<SelectListItem>" class="mb-1 form-select"> *@
                    <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="mb-1 form-select">
                        <option disabled selected>--Select Category</option>
                    </select>
            
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>
            
                <div asp-validation-summary="All"></div>
                <div class="row">
                    <div class="col-6">
                        @if (Model.Product.Id != 0)
                        {
                            <button
                                type="submit"
                                class="btn btn-primary form-control">
                                Update
                            </button>
                        }
                        else
                        {
                            <button
                                type="submit"
                                class="btn btn-primary form-control">
                                Create
                            </button>
                        }
                        @* <button *@
                        @*     type="submit" *@
                        @*     class="btn btn-primary form-control"> *@
                        @*     @(Model.Product.Id != 0 ? "Update" : "Create") *@
                        @* </button> *@
                    </div>
                    <div class="col-6">
                        <a asp-controller="Product" asp-action="Index"
                           class="btn btn-outline-secondary form-control">Back To List</a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-2">
            <img src="@Model.Product.ImageUrl" width="100%"
                 style="border-radius: 5px; border: 1px solid #bbb9b9"/>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}